[Unit]
Description=Tailscale Certificate Renewal Timer
Requires=tailscale-cert-renewal.service

[Timer]
Unit=tailscale-cert-renewal.service
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target