[Unit]
Description=Ensure that Tailscale is updated automatically on your device.

[Timer]
OnBootSec=5m
OnUnitActiveSec=24h
Unit=tailscale-install.service

[Install]
WantedBy=multi-user.target