[Unit]
Description=Ensure that Tailscale is installed on your device
After=network.target
RequiresMountsFor=/data/tailscale
Wants=tailscale-install.timer

[Service]
Type=oneshot
Environment=DEBIAN_FRONTEND=noninteractive
ExecStart=/bin/bash -c "/data/tailscale/manage.sh on-boot"

[Install]
WantedBy=multi-user.target