[Unit]
Description=Ensure that Tailscale is updated automatically on your device.
Requires=tailscale-install.service

[Timer]
OnBootSec=5m
OnUnitActiveSec=24h
Unit=tailscale-install.service

[Install]
WantedBy=timers.target