on:
  push: {}

name: Build
jobs:
  build:
    name: "Package"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: ./build/package.sh ./ ./dist
      - uses: actions/upload-artifact@v5
        with:
          name: package
          path: dist

  test:
    name: Test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: ./tests/run.sh
