on:
  push: {}

name: Build
jobs:
  build:
    name: "Package"
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - run: ./build/package.sh ./ ./dist

  test:
    name: Test
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - run: ./tests/run.sh
